<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag('logo1.png') %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to about_path, class: 'navbar-wagon-item nav-link hvr-underline-from-center' do %>
      <p>ABOUT</p>
      <% end %>
    <%= link_to projects_path, class: 'navbar-wagon-item nav-link hvr-underline-from-center' do %>
      <p>PROJECTS</p>
    <% end %>
    <%= link_to contact_path, class: 'navbar-wagon-item nav-link hvr-underline-from-center' do %>
      <p>CONTACT</p>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <!-- <div class="dropdown">
        <%# image_tag 'avatar.png', class: 'avatar dropdown-toggle', id: 'navbar-wagon-menu', data: {toggle: 'dropdown'} %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
          <li><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Projects</a></li>
        </ul>
      </div> -->
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to about_path, class: 'navbar-wagon-item nav-link' do %>
            <i class="fa fa-info-circle" aria-hidden="true"></i> About
          <% end %>
        </li>
        <li>
          <%= link_to projects_path, class: 'navbar-wagon-item nav-link' do %>
            <i class="fa fa-picture-o" aria-hidden="true"></i> Projects
          <% end %>
        </li>
        <li>
          <%= link_to contact_path, class: 'navbar-wagon-item nav-link' do %>
            <i class="fa fa-picture-o" aria-hidden="true"></i> Contact
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
