<div class="about-layout">
  <div class="parallax-3">
    <div class="parallax-content text-center">
      <h2>MY EDITING WORK</h2>
    </div>
  </div>
  <div id="wrapper">
    <div class="container">
      <div class="cards">
        <div class="courses-box">
          <%= link_to cyanure_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1530738190/cyanure.jpg');">
            </div>
          <% end %>
          <div class="card-course-name">
            <h3>Cyanure</h3>
          </div>
        </div>
        <div class="courses-box">
          <%= link_to belmondo_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1530736863/belmondo.jpg');">
            </div>
          <% end %>
          <div class="card-course-name">
            <h3>Belmondo par Belmondo</h3>
          </div>
        </div>
        <div class="courses-box">
          <%= link_to veronique_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1526671411/MV5BOGYyNDE1YTMtMTg5Mi00NzI2LTg1OWQtNzI1YTYzM2JiNmQ3XkEyXkFqcGdeQXVyNzQ0MTcyMjU_._V1_SY1000_CR0_0_706_1000_AL_.jpg');">
          </div>
          <% end %>
          <div class="card-course-name">
            <h3>The Double Life of Veronique</h3>
          </div>
        </div>
        <div class="courses-box">
          <%= link_to blue_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1525788470/MV5BZGJhNDdmMWMtNzZiYy00MmFiLThjNmUtYTE1ZjRkNjdjYmQ5XkEyXkFqcGdeQXVyMTMxODk2OTU_._V1_.jpg');">
            </div>
          <% end %>
          <div class="card-course-name">
            <h3>Blue</h3>
          </div>
        </div>
        <div class="courses-box">
          <%= link_to white_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1525451411/MV5BMTU2NjY3NDAwMF5BMl5BanBnXkFtZTcwOTc4OTcxMQ_._V1_.jpg');">
            </div>
          <% end %>
          <div class="card-course-name">
            <h3>White</h3>
          </div>
        </div>
        <div class="courses-box">
          <%= link_to red_path do %>
            <div class="card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1525987606/MV5BMTMzNjQ1Mjc0M15BMl5BanBnXkFtZTcwNDA0NjkxMQ_._V1_.jpg');">
            </div>
          <% end %>
          <div class="card-course-name">
            <h3>Red</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
